<!-- Wappler include head-page="layouts/admin" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="create_event" appConnect="local" -->
<meta name="ac:route" content="/admin/events/create_event">
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mt-4">
                <div class="card-header text-white bg-success">
                    <h4 class="mb-0">Create New Event</h4>
                </div>
                <div class="card-body">
                    <!-- Event Details Form -->
                    <form is="dmx-serverconnect-form" id="frmEvDets" method="post" action="/api/Events/updateEventDetails" dmx-generator="bootstrap5" dmx-form-type="vertical">
                        <div class="form-group mb-3">
                            <input type="hidden" class="form-control" id="inp_EvId" name="inp_EvId" aria-describedby="inp_inpEvIdEdit_help" placeholder="Enter Inp ev id edit" dmx-bind:value="scGetsingleEv.data.query.eventId">
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="inp_EvName" name="inp_EvName" placeholder="Event Name" dmx-bind:value="scGetsingleEv.data.query.eventName">
                            <label for="inp_EvName">Event Name</label>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" id="inpEvDte" name="inpEvDte" placeholder="Event Date" dmx-bind:value="scGetsingleEv.data.query.eventDate">
                                    <label for="inpEvDte">Date</label>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="inpStrtTime" name="inpStrtTime" placeholder="Start Time" dmx-bind:value="scGetsingleEv.data.query.eventStrtTime.toDate().formatDate('h:mm A')">
                                    <label for="inpStrtTime">Start Time</label>
                                </div>
                            </div>
                            <div class="col">

                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" id="inp_publishDate" name="publishDate" placeholder="Publish date" dmx-bind:value="scGetsingleEv.data.query.eventDate.addDays(-scGetsingleEv.data.query.daysToPublish).formatDate('yyyy-MM-dd')">
                                    <label for="inp_publishDate">Publish date</label>
                                </div>

                            </div>
                        </div>
                        <div class=" row">

                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control" id="inp_volArrival" name="volArrival" placeholder="Vol Arrival Before Show (Mins)" dmx-bind:value="scGetsingleEv.data.query.volArrival">
                                    <label for="inp_volArrival">Vol Arrival Before Show (Mins)</label>

                                </div>

                            </div>
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control" id="inp_numvols" name="numvols" placeholder="Numvols" dmx-bind:value="scGetsingleEv.data.query.numvols">
                                    <label for="inp_numvols" class="col-form-label-sm">Number of vols</label>

                                </div>

                            </div>
                            <div class="col">
                                <div class="form-floating mb-3">

                                    <div class="form-group mb-3">
                                        <label for="inp_numvols" class="col-form-label-sm">Published</label>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" value="1" id="inpPub" name="inpPub" dmx-bind:checked="scGetsingleEv.data.query.published==1">
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>




                        <div class="row">
                            <div class="col-3">
                                <div class="form-floating mb-3">
                                    <select id="selLocation" class="form-select" name="selLocation" dmx-bind:options="scGetLocations.data.query" optiontext="location" optionvalue="locationId" dmx-bind:value="scGetsingleEv.data.query.location" dmx-on:updated="scGetVenue.load({location: value})" aria-label="Location">
                                    </select>
                                    <label for="selLocation">Location</label>
                                </div>

                            </div>


                            <div class="col-3">
                                <div class="form-floating mb-3">
                                    <select id="selVenue" class="form-select" name="selVenue" dmx-bind:options="scGetVenue.data.query" optiontext="venueDesc" optionvalue="venueId" dmx-bind:value="scGetsingleEv.data.query.venue" aria-label="Venue">
                                    </select>
                                    <label for="selVenue">Venue</label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Save Event</button>
                                <button type="reset" class="btn btn-outline-secondary ms-2">Reset Form</button>
                            </div>
                        </div>




                    </form>
                </div>
            </div>
        </div>
    </div>
</div>