<!-- Wappler include head-page="layouts/admin" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="event_list2" appConnect="local" components="{dmxFormatter:{},dmxBootstrap5Modal:{},dmxDataTraversal:{},dmxBootstrap5TableGenerator:{},dmxBootbox5:{}}" -->
<dmx-value id="selectedOptions" dmx-on:updated="" dmx-bind:value="arr1.items"></dmx-value>
<dmx-array id="arr1" dmx-on:updated=""></dmx-array>
<dmx-serverconnect id="scUpstatus" url="/api/Events/updateEventStatus2" noload="true"></dmx-serverconnect>
<dmx-serverconnect id="scDummy" url="/api/Events/dummy" noload="true"></dmx-serverconnect>
<dmx-serverconnect id="scEvVols" url="/api/Events/getVolsEvents2" dmx-param:eventid=""></dmx-serverconnect>
<dmx-serverconnect id="scEventVolData" url="/api/Events/eventVolEdit"></dmx-serverconnect>
<script is="dmx-flow" id="flow1" type="text/dmx-flow">{
  repeat: {
    name: "repeat",
    output: true,
    outputType: "array",
    repeat: "{{scEvVols.data.query}}",
    outputFields: [],
    exec: {
      steps: {
        bootbox.alert: {
          outputType: "object",
          message: "{{'Volunteer ID: '+scEvVols.data.query[0].eventId+'— Selected Status:  '+modEditIndEvent.selectedStatus.items}}"
        }
      }
    }
  }
}</script>
<div class="modal" id="modEditIndEvent" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <!-- Declare the array to hold selected statuses -->
                            <dmx-array id="selectedStatus" dmx-bind:value="scEvVols.data.query.map(e => e.status)"></dmx-array>

                            <form id="form1" method="post" is="dmx-serverconnect-form" action="/api/Events/updateEventStatus2" dmx-on:success="
  // You can handle submission success here
">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover table-sm">
                                        <thead>
                                            <tr>
                                                <th>Image name</th>
                                                <th>Event</th>
                                                <th>User</th>
                                                <th>F name</th>
                                                <th>L name</th>
                                                <th>Status</th>
                                                <th>Desc</th>
                                                <th>Registered date</th>
                                                <th>Ev vol</th>
                                                <th scope="row">Header</th>
                                            </tr>
                                        </thead>
                                        <tbody is="dmx-repeat" dmx-bind:repeat="scEvVols.data.query" id="tableRepeat1">
                                            <tr>
                                                <td dmx-text="eventId"></td>
                                                <td>
                                                    <img dmx-bind:src="'\\upload\\images\\profiles\\' + varImage + '.jpg'" width="50" height="50">
                                                </td>
                                                <td dmx-text="eventId"></td>
                                                <td dmx-text="userId"></td>
                                                <td dmx-text="decFname"></td>
                                                <td dmx-text="decLname"></td>
                                                <td dmx-text="status"></td>
                                                <td dmx-text="desc"></td>
                                                <td dmx-text="registeredDate"></td>
                                                <td dmx-text="evVolId"></td>
                                                <td>
                                                    <div is="dmx-radio-group" class="radio-group" dmx-bind:id="'rgStatus_' + $index" dmx-bind:value="selectedStatus[$index]" dmx-bind:name="'option' + $index">
                                                        <label>
                                                            <input type="radio" value="1" dmx-bind:name="'option' + $index" dmx-bind:checked="selectedStatus[$index] == '1'" dmx-on:change="selectedStatus[$index] = $event.target.value">
                                                            A
                                                        </label>
                                                        <label>
                                                            <input type="radio" value="2" dmx-bind:name="'option' + $index" dmx-bind:checked="selectedStatus[$index] == '2'" dmx-on:change="selectedStatus[$index] = $event.target.value">
                                                            B
                                                        </label>
                                                        <label>
                                                            <input type="radio" value="3" dmx-bind:name="'option' + $index" dmx-bind:checked="selectedStatus[$index] == '3'" dmx-on:change="selectedStatus[$index] = $event.target.value">
                                                            C
                                                        </label>
                                                        <label>
                                                            <input type="radio" value="4" dmx-bind:name="'option' + $index" dmx-bind:checked="selectedStatus[$index] == '4'" dmx-on:change="selectedStatus[$index] = $event.target.value">
                                                            D
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <button type="button" class="btn btn-primary" dmx-on:click="flow1.run()">Save changes</button>
                                <button type="button" class="btn btn-secondary" dmx-on:click="bootbox.alert('Radio Group Value: ' + dmx.app.data['rgStatus_' + $index].value)">Debug rgStatus</button>
                            </form>


                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></div>
            </div>
            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>
<meta name="ac:route" content="/admin/events/event_list2">

<div class="container">

    <div class="row">
        <div class="col">
            <h2>Events</h2>
        </div>
    </div>
    <div class="row mt-2 justify-content-between gx-1 gy-1 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xxl-4 row-cols-xl-4 row-cols-lg-4" is="dmx-repeat" id="repeat1" dmx-bind:repeat="scEventVolData.data.qryGetAllEvents">
        <div class="col">
            <div class="card align-self-start h-100 border-1 border rounded-top rounded-3 shadow border-info">
                <div class="card-header bg-success text-light text-lg-center fw-bolder h-100">
                    <h5 class="card-title align-self-lg-center fw-bolder" dmx-text="scEventVolData.data.qryGetAllEvents[$index].eventName">Card title</h5>
                </div>
                <div class="card-body text-lg-center">

                    <p class="card-text">Venue: {{venueDesc}}</p>
                    <p class="card-text">Date: {{eventDate.formatDate('dd-MM-yyyy')}}.</p>
                    <p class="card-text">Time: {{eventStrtTime}}</p>
                    <p class="card-text">Number of Volunteers: {{numvols}}</p>
                </div>
                <div class="card-footer pt-0 pb-0 ps-0 pe-0">
                    <button id="btn1" class="btn w-100 btn-success text-bg-success text-light" dmx-on:click="modEditIndEvent.show();modEditIndEvent.data_detail1.select(eventId);scEvVols.load({eventid: eventId})">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>