<!-- Wappler include head-page="layouts/admin" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="test" appConnect="local" components="{dmxBootstrap5TableGenerator:{},dmxStateManagement:{},dmxDataTraversal:{}}" -->
<meta name="ac:route" content="/admin/events/test">
<dmx-serverconnect id="serverconnect1" url="/api/Events/getVolsEvents2" dmx-param:eventid="2"></dmx-serverconnect>
<dmx-session-manager id="session1"></dmx-session-manager>
<div class="container">
    <div class="row">
        <div class="col">
            <dmx-data-detail id="data_detail1">
                <h1>Heading</h1>
            </dmx-data-detail>
        </div>
    </div>
</div>