<!-- Wappler include head-page="layouts/admin" is="dmx-app" id="testApp" appConnect="local" -->
<dmx-array id="arrStatus" value="[0,0,0]"></dmx-array>
<main></main>
<meta name="ac:route" content="/admin/events/test">



<div class="container mt-5">
    <h2>Button Toggle Test</h2>

    <!-- Debug: show array contents -->
    <pre dmx-text="arrStatus.items"></pre>

    <!-- Repeat through array -->
    <button type="button" class="btn" dmx-bind:class="$value == 1 ? 'btn btn-primary' : 'btn btn-outline-primary'" dmx-on:click="arrStatus.replaceAt($index, 1)" dmx-class="">
        A
    </button><button type="button" class="btn" dmx-bind:class="$value == 2 ? 'btn btn-success' : 'btn btn-outline-success'" dmx-on:click="arrStatus.replaceAt($index, 2)">
        B
    </button><button type="button" class="btn" dmx-bind:class="$value == 3 ? 'btn btn-warning' : 'btn btn-outline-warning'" dmx-on:click="arrStatus.replaceAt($index, 3)" dmx-class:redButt="">
        C
    </button>
    <p>Enter your content here</p>
    <div is="dmx-repeat" id="repeatButtons" dmx-bind:repeat="arrStatus.items">
        <div class="my-2">
            <div class="btn-group">



            </div>

            <!-- Show the selected value for this row -->
            <span class="ms-3">Selected: <span dmx-text="$value"></span></span>
        </div>
    </div>
</div>