<!-- Wappler include head-page="layouts/admin" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="dashboard" appConnect="local" -->
<meta name="ac:route" content="/admin/dashboard/dashboard">
<div class="container">
    <div class="row">
        <div class="col">
            <h1><i class="fas fa-tachometer-alt"></i>&nbsp;Dashboard</h1>
        </div>
    </div>
</div>