!doctype html>
<html>

<head>
  <link rel="stylesheet" href="/dmxAppConnect/dmxValidator/dmxValidator.css" />

  <script src="/dmxAppConnect/dmxAppConnect.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>
  <script src="/dmxAppConnect/dmxValidator/dmxValidator.js" defer></script>

  <base href="/">

  <meta charset="UTF-8">
  <title>Rotario</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/dmxAppConnect/dmxRouting/dmxRouting.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer></script>
  <style>
    /* Sidebar styles */
    /* Sidebar styles */
    @media (min-width: 992px) {
      #sidebar {
        position: fixed;
        top: 110px;
        left: 0;
        height: calc(100vh - 110px);
        width: 160px;
        /* Reduced from 180px */
        background-color: #2b2b2b;
        padding-top: 0;
        display: block !important;
        z-index: 1020;
        box-shadow: 3px 0 10px rgba(0, 0, 0, 0.1);
      }

      #content {
        margin-left: 160px;
        /* Reduced from 180px */
        padding-top: 50px;
        max-width: calc(100vw - 160px);
        /* Adjusted to match new margin */
        overflow-x: hidden;
        min-height: calc(100vh - 110px);
      }
    }

    /* Mobile and tablet styles */
    @media (max-width: 991.98px) {
      #content {
        padding-top: 50px;
        width: 100%;
        margin-left: 0;
      }
    }

    /* Container width control */
    .container-fluid {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    /* Ensure consistent spacing */
    @media (min-width: 768px) {
      .container-fluid {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  </style>
  <script src="/dmxAppConnect/dmxStateManagement/dmxStateManagement.js" defer></script>
  <script src="/dmxAppConnect/dmxFormatter/dmxFormatter.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxNotifications/dmxNotifications.css" />
  <script src="/dmxAppConnect/dmxNotifications/dmxNotifications.js" defer></script>
  <script src="/dmxAppConnect/dmxBrowser/dmxBrowser.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Modal/dmxBootstrap5Modal.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxDropzone/dmxDropzone.css" />
  <script src="/dmxAppConnect/dmxDropzone/dmxDropzone.js" defer></script>
  <script src="/dmxAppConnect/dmxLazyLoad/dmxLazyLoad.js" defer></script>
  <script src="/dmxAppConnect/dmxLazyLoad/lazysizes.min.js" defer></script>
  <script src="/dmxAppConnect/dmxDataTraversal/dmxDataTraversal.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxBootstrap5TableGenerator/dmxBootstrap5TableGenerator.css" />
  <script src="/dmxAppConnect/dmxDatastore/dmxDatastore.js" defer></script>
  <script src="/dmxAppConnect/dmxBootbox5/bootstrap-modbox.min.js" defer></script>
  <script src="/dmxAppConnect/dmxBootbox5/dmxBootbox5.js" defer></script>
  <script src="/dmxAppConnect/dmxDataStore/dmxDatastore.js" defer></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.min.js" defer></script>
  <script src="/dmxAppConnect/dmxLeafletMaps/dmxLeafletMaps.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Tooltips/dmxBootstrap5Tooltips.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxSummernote/summernote-bs5.min.css" />
  <script src="/dmxAppConnect/dmxSummernote/summernote-bs5.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/dmxSummernote.js" defer></script>

  <link rel="stylesheet" href="/dmxAppConnect/dmxSummernote/summernote.min.css" />
  <script src="/dmxAppConnect/dmxSummernote/summernote.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-ar-AR.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-az-AZ.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-bg-BG.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-bn-BD.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-ca-ES.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-cs-CZ.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-da-DK.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-de-CH.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-de-DE.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-el-GR.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-en-US.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-es-ES.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-es-EU.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-fa-IR.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-fi-FI.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-fr-FR.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-gl-ES.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-he-IL.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-hr-HR.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-hu-HU.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-id-ID.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-it-IT.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-ja-JP.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-ko-KR.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-lt-LT.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-lt-LV.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-mn-MN.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-nb-NO.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-nl-NL.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-pl-PL.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-pt-BR.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-pt-PT.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-ro-RO.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-ru-RU.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-sk-SK.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-sl-SI.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-sr-RS-Latin.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-sr-RS.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-sv-SE.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-ta-IN.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-th-TH.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-tr-TR.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-uk-UA.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-uz-UZ.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-vi-VN.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-zh-CN.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-zh-TW.min.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Alert/dmxBootstrap5Alert.js" defer></script>
  <script src="/dmxAppConnect/dmxFormRepeat/dmxFormRepeat.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxDatePicker/daterangepicker.min.css" />
  <script src="/dmxAppConnect/dmxDatePicker/daterangepicker.min.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxDatePicker/dmxDatePicker.css" />
  <script src="/dmxAppConnect/dmxDatePicker/dmxDatePicker.js" defer></script>

  <link rel="stylesheet" href="/dmxAppConnect/dmxSummernote/summernote-bs4.min.css" />
  <script src="/dmxAppConnect/dmxSummernote/summernote-bs4.min.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxSummernote/summernote-lite.min.css" />
  <script src="/dmxAppConnect/dmxSummernote/summernote-lite.min.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxDatePicker/bgthemes/dark-calendar.css" />
  <link rel="stylesheet" href="/dmxAppConnect/dmxDatePicker/themes/blue.css" />
</head>

<body is="dmx-app" id="admin" class="bg-light" dmx-on:ready="scHeaderInfo.load({});scOrgName.load({})">
  <dmx-serverconnect id="scSession" url="/api/Sessions/getSessions" noload="true">&nbsp;</dmx-serverconnect>
  <dmx-serverconnect id="scHeaderInfo" url="/api/Sessions/headerInfo" noload="true"></dmx-serverconnect>
  <dmx-serverconnect id="scOrgName" url="/api/Sessions/headerOrgInfo"></dmx-serverconnect>

  <dmx-local-manager id="local1"></dmx-local-manager>
  <dmx-session-manager id="session1"></dmx-session-manager>
  <div is="dmx-browser" id="browser1"></div>
  <dmx-notifications id="notifies1" offset-x="150" offset-y="150" show-duration="600"></dmx-notifications>
  <dmx-serverconnect id="scLogOut" url="/api/security/logout2" noload="true"></dmx-serverconnect>
  <!-- Top Navigation Bar -->
  <!-- Top Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm fixed-top" style="height: auto; padding: 0.5rem 0;">
    <div class="container-fluid d-flex flex-column">
      <!-- Top Row: Logo and Welcome -->
      <div class="w-100 d-flex justify-content-between align-items-center mb-3">
        <div class="d-flex align-items-center">
          <button class="btn btn-outline-light me-3 d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
            <i class="fas fa-bars"></i>
          </button>
          <a class="navbar-brand d-flex align-items-center" href="/admin">
          </a>
        </div>
        <div class="ms-auto text-white text-end">
          <p class="small mb-0">Welcome&nbsp; {{scHeaderInfo.data.UserName}}&nbsp;</p>
        </div>
      </div>

      <!-- Bottom Row: Organization, Rota Info & Account -->
      <div class="w-100 d-flex justify-content-between align-items-center border-top border-light pt-2">
        <p class="text-light"><i class="fas fa-building"></i>&nbsp;Organisation:&nbsp; {{scHeaderInfo.data.qryOrgName.tenantDesc}}&nbsp;&nbsp;</p>
        <p class="text-white">Rota: {{scHeaderInfo.data.qryRotaName.rotaDesc}}</p>
        <!-- Organization and Rota Info -->

        <!-- Account Dropdown -->
        <div class="dropdown">
          <button class="btn btn-outline-light dropdown-toggle d-flex align-items-center" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user-circle me-2"></i>
            <span class="d-none d-sm-inline">Account</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
            <li><a class="dropdown-item" href="/admin/user/profile"><i class="fas fa-user me-2"></i>Profile</a></li>
            <li>
              <a class="dropdown-item" href="/admin/settings"><i class="fas fa-cogs me-2"></i> Settings</a>
              <a class="dropdown-item" href="/admin/users/change_rota"><i class="fas fa-sync me-2"></i> Change Rota</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item text-danger" dmx-on:click="local1.set('loggedIn',0);scLogOut.load({});browser1.goto('/login2')"><i class="fas fa-sign-out-alt me-2"></i>Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- Sidebar -->
  <div class="offcanvas-lg offcanvas-start bg-dark text-white" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
    <div class="offcanvas-header d-lg-none">
      <h5 class="offcanvas-title" id="sidebarLabel">Menu</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" data-bs-target="#sidebar" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-0">
      <ul class="nav flex-column">
        <!-- Dashboard -->
        <li class="nav-item">
          <a class="nav-link text-white px-3 py-2 active" href="/admin/dashboard/dashboard">
            <i class="fas fa-tachometer-alt me-2"></i> Dashboard
          </a>
        </li>

        <!-- Users -->
        <li class="nav-item">
          <a class="nav-link text-white px-3 py-2 d-flex justify-content-between align-items-center" href="#userSubmenu" data-bs-toggle="collapse" aria-expanded="false">
            <span><i class="fas fa-users me-2"></i> Users</span>
            <i class="fas fa-angle-down"></i>
          </a>
          <ul class="nav collapse flex-column" id="userSubmenu" style="padding-left: 1rem;">
            <li class="nav-item">
              <a class="nav-link text-white px-3 py-2" href="/admin/user/user_list">
                <i class="fas fa-list me-2"></i> User List
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white px-3 py-2" href="/admin/user/addNewUser2">
                <i class="fas fa-user-plus me-2"></i> Add New User
              </a>
            </li>
          </ul>
        </li>

        <!-- Settings -->
        <li class="nav-item">
          <a class="nav-link text-white px-3 py-2 d-flex justify-content-between align-items-center" href="#eventsSubmenu" data-bs-toggle="collapse" aria-expanded="false">
            <span><i class="fas fa-calendar-alt me-2"></i> Events</span>
            <i class="fas fa-angle-down"></i>
          </a>
          <ul class="nav collapse flex-column" id="eventsSubmenu" style="padding-left: 1rem;">
            <li class="nav-item">
              <a class="nav-link text-white px-3 py-2" href="/admin/events/event_list2">
                <i class="fas fa-list me-2"></i> Event List
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white px-3 py-2" href="/admin/events/create_event">
                <i class="fas fa-calendar-plus me-2"></i> Add New Event
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white px-3 py-2" href="/admin/events/event_calendar">
                <i class="fas fa-calendar me-2"></i> Event Calendar
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white px-3 py-2 d-flex justify-content-between align-items-center" href="#settingsSubmenu" data-bs-toggle="collapse" aria-expanded="false">
            <span><i class="fas fa-cogs me-2"></i> Settings</span>
            <i class="fas fa-angle-down"></i>
          </a>
          <ul class="nav collapse flex-column" id="settingsSubmenu" style="padding-left: 1rem;">
            <li class="nav-item">
              <a class="nav-link text-white px-3 py-2" href="/admin/settings/template_list">
                <i class="fas fa-file-alt"></i> Templates</a>
            </li>
          </ul>
        </li>

        <!-- Events -->

      </ul>
    </div>
  </div>

  <!-- Main Content -->
  <div class=" container-fluid px-1 px-lg-2" id="content">
    <div class="row g-1">
      <div class="col-12 p-0">
        <main is="dmx-view" id="content" class="text-start"><%- await include(content, locals) %></main>
      </div>
    </div>
  </div>
  </div>
  </div>

  <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>