<!-- Wappler include head-page="layouts/admin" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="user_list" appConnect="local" components="{dmxBootstrap5TableGenerator:{},dmxStateManagement:{},dmxFormatter:{},dmxDataTraversal:{}}" -->
<dmx-query-manager id="query1"></dmx-query-manager>
<meta name="ac:route" content="/admin/user/user_list">

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <button id="btn1" class="btn" dmx-on:click="">Button</button>
                                            <input id="search1" name="search1" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <dmx-serverconnect id="scAllUsers" url="/api/Users/allUsers" dmx-param:sort="query1.data.sort" dmx-param:dir="query1.data.dir" dmx-param:filter=""></dmx-serverconnect>
                                    <dmx-serverconnect id="scAllArray" url="/api/Users/allUsers" dmx-param:sort="query1.data.sort" dmx-param:dir="query1.data.dir"></dmx-serverconnect><dmx-data-view id="data_view1" dmx-bind:data="scAllUsers.data.repeat" dmx-bind:sorton="sort.on" dmx-bind:sortdir="sort.dir"></dmx-data-view>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="sorting" dmx-on:click="query1.set('sort','varFName');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='varFName' && query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='varFName' && query1.data.dir == 'desc'">Var fname</th>
                                                    <th class="sorting" dmx-on:click="query1.set('sort','varLName');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='varLName' && query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='varLName' && query1.data.dir == 'desc'">Var lname</th>
                                                    <th class="sorting" dmx-on:click="query1.set('sort','varEmail');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='varEmail' && query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='varEmail' && query1.data.dir == 'desc'">Var email</th>
                                                    <th class="sorting" dmx-on:click="query1.set('sort','varJoinDate');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='varJoinDate' && query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='varJoinDate' && query1.data.dir == 'desc'">Var join date</th>
                                                    <th class="sorting" dmx-on:click="query1.set('sort','varRole');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='varRole' && query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='varRole' && query1.data.dir == 'desc'">Var role</th>
                                                    <th class="sorting" dmx-on:click="query1.set('sort','varImage');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='varImage' && query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='varImage' && query1.data.dir == 'desc'">Var image</th>
                                                </tr>
                                            </thead>
                                            <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="data" id="tableRepeat2" dmx-state="query1" dmx-sort="sort" dmx-order="dir">
                                                <tr>
                                                    <td dmx-text="varFName"></td>
                                                    <td dmx-text="varLName"></td>
                                                    <td dmx-text="varEmail"></td>
                                                    <td dmx-text="varJoinDate"></td>
                                                    <td dmx-text="varRole"></td>
                                                    <td dmx-text="varImage"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>