#inp_fName {
}
.modal-header.bg-warning {
  background-color: var(--bs-warning);
  color: var(--bs-dark);
}

.alert-warning {
  background-color: var(--bs-warning-light);
  border-color: var(--bs-warning);
}

.modal .btn-danger {
  background-color: var(--bs-danger);
  border-color: var(--bs-danger);
}

.modal .btn-danger:hover {
  background-color: var(--bs-danger-dark);
  border-color: var(--bs-danger-dark);
}
/* Enhancing the form-label class for bolder text */
.form-label {
  font-weight: 600; /* Adjusted for a heavier font weight */
}
/* Enhance col-form-label with custom color and bold text */
.col-form-label {
  font-weight: 600; /* Make the label text bold */
  font-size: 0.8 rem; /* Slightly increase the font size for emphasis */
  color: #27a2fc; /* Set the label color to a custom blue */
}
.card {
  -webkit-transition:
    -webkit-transform 0.2s ease-in-out,
    -webkit-box-shadow 0.2s ease-in-out;
  transition:
    -webkit-transform 0.2s ease-in-out,
    -webkit-box-shadow 0.2s ease-in-out;
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out,
    -webkit-transform 0.2s ease-in-out,
    -webkit-box-shadow 0.2s ease-in-out;
}

.card:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
.btn.selected {
}

.btn.selected:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5);
}
