<!-- Wappler include head-page="layouts/admin" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="encrypt" appConnect="local" components="{dmxBootstrap5Modal:{}}" -->
<div class="modal" id="modEncryptInfo" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="text1" name="text1" type="text" class="form-control" dmx-bind:value="serverconnect1.data.enc">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<dmx-serverconnect id="serverconnect1" url="/api/DB_Routines/encField" noload="true"></dmx-serverconnect>
<meta name="ac:route" content="/admin/DB_Routines/encrypt">
<div class="container">
    <div class="row">
        <div class="col">
            <form id="formEncDec" method="post" is="dmx-serverconnect-form" action="/api/DB_Routines/encField" dmx-on:success="modEncryptInfo.show()" dmx-on:error="notifies1.warning('Something Screwed JUp')">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col"></div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label for="inp_Dec" class="col-sm-2 col-form-label">Enter DeCrpyt Text</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inp_Dec" name="inp_Dec" aria-describedby="input1_help" placeholder="Enter Decrypt">
                                <small id="input1_help" class="form-text text-muted">Your input is very valuable.</small>
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label for="key" class="col-sm-2 col-form-label">Enter Key</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="key" name="key" aria-describedby="input1_help1" placeholder="Enter some text">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label for="encryp" class="col-sm-2 col-form-label">Encrypted Text</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="encryp" name="encryp" aria-describedby="input1_help2" placeholder="Enter some text" dmx-bind:value="serverconnect1.data.enc">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button id="btn1" class="btn btn-danger" type="submit">Encrypt</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>